<!DOCTYPE html>
{% extends "base/base.html" %}
{% load static %}
<title>Profile</title>

{% block bodyblock %}
<div id="profile_main">
    <div id="index_col">
        <button type="button" class="index-menu-close" onclick="CloseProfileIndex()"><i class="fas fa-times"></i></button>
        <ul>
            <li><a href="/profile/dashboard" class="left_nav_link {{dashboard}}"><i class="fas fa-tachometer-alt"></i>
                    &nbsp;&nbsp;Dashboard</a></li>
            <li><a href="/profile/followers" class="left_nav_link {{follower_link}}"><i
                        class="fas fa-user-friends"></i>&nbsp;&nbsp;Followers</a></li>
            <li><a href="/profile/followings" class="left_nav_link {{followings}}"><i
                        class="fas fa-user-check"></i>&nbsp;&nbsp;Followings</a></li>
            <li><a href="/profile/user-questions" class="left_nav_link {{questions}}"><i
                        class="fas fa-question"></i>&nbsp;&nbsp;Questions</a></li>
            <li><a href="/profile/user-answers" class="left_nav_link {{answers}}"><i
                        class="far fa-file-alt"></i>&nbsp;&nbsp;Answers</a></li>
            <li><a href="" class="left_nav_link {{polls}}"><i class="fas fa-poll-h"></i>&nbsp;&nbsp;Polls</a></li>
            <li><a href="/profile/edit-profile" class="left_nav_link {{edit_profile}}"><i
                        class="fas fa-poll-h"></i>&nbsp;&nbsp;Edit
                    Profile</a></li>
        </ul>
    </div>
    <div id="content_col">
        {% block profilecontent %}
        {% if user.is_authenticated %}

        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div id="message_main">
            <div class="message_box">
                <h1 style="color: rgb(1, 207, 104);"><i class="far fa-check-circle"></i></h1>
                <h2>SUCCESS!!</h2>
                <P>{{message}}</P>
                <a href="" id="popup_close_btn" onclick="DismissPopup()"
                    style="background-color: rgb(1, 207, 104);">OK</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}


        <div id="dashboard">
            <div class="header_row">
                <button type="button" class="index-menu-open" onclick="OpenProfileIndex()"><i class="fas fa-bars"></i></button>
                <img src="{% static 'images/doors.jpg' %}" alt="" id="cover_img">
                
                <div class="profile_img_box">
                    {% if user.usermodel.profile_photo %}
                    <img src="{{ user.usermodel.profile_photo.url }}" alt="img">
                    {% endif %}
                </div>
                <div class="name_box">
                        <h4 class="user_name">{{ user.first_name }} {{ user.last_name }}</h4>
                        <p class="desgn">{{ user.usermodel.designation }}</p>
                        
                        <!-- badges condtions -->
                        {% if user.usermodel.points < 150 %}
                        <span class="badge badge_beg" style="width: 10rem;">Beginner</span>
                        {% elif user.usermodel.points >= 150 and user.usermodel.points < 300  %}
                        <span class="badge badge_med" style="width: 10rem;">Mediator</span>
                        {% elif user.usermodel.points >= 300 and user.usermodel.points < 500  %}
                        <span class="badge badge_pro" style="width: 10rem;">Professional</span>
                        {% elif user.usermodel.points >= 500 %}
                        <span class="badge badge_ex" style="width: 10rem;">Expert</span>
                        {% endif %}
                        <!-- ================== -->

                </div>
                <a href="/#post_question" class="ask_user_btn bg_redPigment">Ask Question</a>
            </div>

            <div id="user_about">
                <div class="social_info_row">
                    <div class="social_info_box">
                        <span>{{user.usermodel.points}}</span>
                        <p>Points</p>
                    </div>
                    <div class="social_info_box">
                        <span>{{user_ans_len}}</span>
                        <p>Answers</p>
                    </div>
                    <div class="social_info_box">
                        <span>{{user_ques_len}}</span>
                        <p>Questions</p>
                    </div>
                    <div class="social_info_box">
                        <span>{{user.followmodel.followed_to.all|length}}</span>
                        <p>Followings</p>
                    </div>
                    <div class="social_info_box">
                        <span>{{user.followed_users.all|length}}</span>
                        <p>Followers</p>
                    </div>
                </div>
                <div class="user_info_box">
                    <div class="left_box">
                        <div class="about_box">
                            <h2><i class="far fa-id-card clr_red"></i>&nbsp;&nbsp;Self Intro</h2>
                            <p>{{ user.usermodel.bio }}</p>
                        </div>

                    </div>
                    <div class="right_box">
                        <div class="user_info">
                            <div class="icon_box">
                                <i class="fas fa-map-marker-alt clr_red"></i>
                            </div>
                            <div class="text_box">
                                <h2>Location</h2>
                                <p>{{user.usermodel.city}}, {{user.usermodel.state}}</p>
                            </div>
                        </div>
                        <div class="user_info">
                            <div class="icon_box">
                                <i class="fas fa-venus-mars clr_red"></i>
                            </div>
                            <div class="text_box">
                                <h2>Gender</h2>
                                <p>{{user.usermodel.gender}}</p>
                            </div>
                        </div>
                        <div class="user_info">
                            <div class="icon_box">
                                <i class="far fa-envelope clr_red"></i>
                            </div>
                            <div class="text_box">
                                <h2>Email</h2>
                                <p>{{user.email}}</p>
                            </div>
                        </div>
                        <div class="user_info">
                            <div class="icon_box">
                                <i class="fas fa-birthday-cake clr_red"></i>
                            </div>
                            <div class="text_box">
                                <h2>Age</h2>
                                <p>{{user.usermodel.age}} Year Old</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock profilecontent %}
    </div>

</div>
{% endblock bodyblock%}