<!DOCTYPE html>
{% extends "profile/profile.html" %}
{% load static %}

{% block profilecontent %}
<div id="answers">
    <h4 class="asked_ques_heading"><span class="clr_red">A</span>nswers <span class="clr_red">G</span>iven <span class="clr_red">B</span>y <span class="clr_red">Y</span>ou</h4>
    <div class="user_ans_box">
        <div class="post_detail_row">
            <p class="asked">Asked: <span class="clr_blue">May 8,2021</span></p>
            <p class="in">In: <span class="clr_blue">Health</span></p>
        </div>
        <div class="que_row">
            <a href=""><span class="clr_red">Que: </span>Will vitamin D save my life? Should I really be taking four times the recommended daily dose?</a>
        </div>
        <div class="user_ans_row">
            
            <p class="user_ans_para"><span class="clr_red">Ans: </span> A growing body of evidence strongly suggests that vitamin D in high doses not only helps keep bones strong but also reduces the risk of colon, ovarian, and breast cancers, and diseases such as diabetes and multiple sclerosis. And many of us don't get enough because of a lack of exposure to sunlight (the sun triggers D's production in the skin) or diets that omit good sources (fatty fish such as salmon, mackerel, and tuna, and fortified milk and cereal). While the official daily dose for people age 51 to 70 is 400 IUs, most experts agree that they should aim for 800 to 1,000 IUs of supplemental D a day. But if you're under 50 and you consume the recommended 200 IUs (the equivalent of two glasses of milk daily) and get 10 to 15 minutes of sun exposure—without sunscreen—a day, a 400 IU supplement should do you fine.</p>
            <div class="user_ans_lastrow">
                <div class="post_detail_row">
                    <p class="asked">Answerd On: <span class="clr_blue">May 8,2021</span> &nbsp;&nbsp;&nbsp;&nbsp;at: <span class="clr_blue">11:34am</span></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="user_ans_box">
        <div class="post_detail_row">
            <p class="asked">Asked: <span class="clr_blue">May 8,2021</span></p>
            <p class="in">In: <span class="clr_blue">Health</span></p>
        </div>
        <div class="que_row">
            <a href=""><span class="clr_red">Que: </span>Will vitamin D save my life? Should I really be taking four times the recommended daily dose?</a>
        </div>
        <div class="user_ans_row">
            
            <p class="user_ans_para"><span class="clr_red">Ans: </span> A growing body of evidence strongly suggests that vitamin D in high doses not only helps keep bones strong but also reduces the risk of colon, ovarian, and breast cancers, and diseases such as diabetes and multiple sclerosis. And many of us don't get enough because of a lack of exposure to sunlight (the sun triggers D's production in the skin) or diets that omit good sources (fatty fish such as salmon, mackerel, and tuna, and fortified milk and cereal). While the official daily dose for people age 51 to 70 is 400 IUs, most experts agree that they should aim for 800 to 1,000 IUs of supplemental D a day. But if you're under 50 and you consume the recommended 200 IUs (the equivalent of two glasses of milk daily) and get 10 to 15 minutes of sun exposure—without sunscreen—a day, a 400 IU supplement should do you fine.</p>
            <div class="user_ans_lastrow">
                <div class="post_detail_row">
                    <p class="asked">Answerd On: <span class="clr_blue">May 8,2021</span> &nbsp;&nbsp;&nbsp;&nbsp;at: <span class="clr_blue">11:34am</span></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
{% endblock profilecontent %}