<!DOCTYPE html>
{% extends "profile/profile.html" %}
{% load static %}

{% block profilecontent %}

<div id="answers">
    <h4 class="asked_ques_heading"><span class="clr_red">A</span>nswers <span class="clr_red">G</span>iven <span
            class="clr_red">B</span>y <span class="clr_red">Y</span>ou</h4>
    {% for given_ans in given_anss %}
    <div class="user_ans_box">
        <div class="post_detail_row">
            <p class="ask_by">Asked by: <span class="clr_blue">{{given_ans.question.user.first_name}}
                    {{given_ans.question.user.last_name}}</span></p>
            <p class="asked">Asked on: <span class="clr_blue">{{given_ans.question.que_date_time}}</span></p>
            <p class="in">In: <span class="clr_blue">{{given_ans.question.que_category}}</span></p>
        </div>
        <div class="que_row">
            <a href=""><span class="clr_red">Que: </span>{{given_ans.question.question}}</a>
        </div>
        <div class="user_ans_row">
            <p class="user_ans_para"><span class="clr_red">Ans: </span>
            <pre style="color:rgb(49, 49, 49); font-size:1.6rem;">{{given_ans.answer}}</pre>
            </p>
            <div class="user_ans_lastrow">
                <div class="post_detail_row">
                    <p class="asked">Answerd On: <span class="clr_blue">{{given_ans.ans_date_time}}</span></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock profilecontent %}