<!DOCTYPE html>
{% extends "profile/profile.html" %}
{% load static %}

{% block profilecontent %}

<div id="asked_ques">
    {% if messages %}
    {% for message in messages %}
    <p id="error_msg" class="bg_success">
        <strong>Message: </strong>
        {{ message }}
        <button id="msg_close_btn" onclick="closeMsg()"><i class="far fa-times-circle"></i></button>
    </p>
    {% endfor %}
    {% endif %}


    <h4 class="asked_ques_heading"><span class="clr_red">Q</span>uestions <span class="clr_red">A</span>sked <span
            class="clr_red">B</span>y <span class="clr_red">Y</span>ou</h4>
    <div id="user_questions">
        {% for que_data_row in que_data %}
        <div class="que_box">
            <div class="col2_left">
                <a href="" class="prof_icon">
                    <img src="{{ user.usermodel.profile_photo.url }}" alt="">
                </a>
                <div class="col2_row2">
                    <h4><i class="fas fa-question"></i></h4>
                    <p><span class="clr_red">43</span> People Asked</p>
                    <button>Ask Again</button>
                </div>
            </div>
            <div class="col2_right">
                <div class="col2_right_row1">
                    <a href="" class="name clr_blue">{{user.first_name}} {{user.last_name}}</a>
                    {% if user.usermodel.points < 150 %}
                    <span class="badge badge_beg">Beginner</span>
                    {% elif user.usermodel.points >= 150 and user.usermodel.points < 300 %}
                    <span class="badge badge_med">Mediator</span>
                    {% elif user.usermodel.points >= 300 and user.usermodel.points < 500 %}
                    <span class="badge badge_pro">Professional</span>
                    {% elif user.usermodel.points >= 500 %}
                    <span class="badge badge_ex">Expert</span>
                    {% endif %}
                    <p class="date">Asked: <span class="clr_blue">{{que_data_row.que_date_time}}</span></p>
                    <p class="category">In: <span class="clr_blue">{{que_data_row.que_category}}</span></p>
                </div>
                <div class="col2_right_row2">
                    <h2 class="que"><strong class="clr_green">Que: &nbsp;</strong>{{que_data_row.question}}</h2>
                    <p class="ans"><pre style="color:rgb(65, 65, 65); font-size:1.6rem;">{{que_data_row.que_details}}</pre></p>
                </div>
                <div class="col2_right_row3">
                    <a href="{% url 'ans_page' que_data_row.id %}#ans_page" class="btn1"><i
                            class="fas fa-comment-alt font_1-2rem"></i>&nbsp;&nbsp;&nbsp;<span>{{que_data_row.answersmodel_set.all|length}}</span>&nbsp;Answers</a>
                    <p href="" class="btn1"><i class="fas fa-eye"></i>&nbsp;&nbsp;&nbsp;<span>{{que_data_row.que_views}}</span> Views
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        <hr>
    </div>
</div>
{% endblock profilecontent %}