<!DOCTYPE html>
{% extends "base/base.html" %}
{% load static %}
<title>AskMe-home</title>

{% block bodyblock %}
{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div id="message_main">
    <div class="message_box">
        <h1 style="color: rgb(241, 60, 60);"><i class="far fa-times-circle"></i></h1>
        <h2>NOT FOUND!!</h2>
        <P>{{message}}</P>
        <a href="/#post_question" id="popup_close_btn" onclick="DismissPopup()" style="background-color: rgb(241, 60, 60);">OK</a>
    </div>
</div>
{% endif %}

{% if message.tags == 'success' %}
<div id="message_main">
    <div class="message_box">
        <h1 style="color: rgb(1, 207, 104);"><i class="far fa-check-circle"></i></h1>
        <h2>SUCCESS!!</h2>
        <P>{{message}}</P>
        <a href="/#main_section" id="popup_close_btn" onclick="DismissPopup()" style="background-color: rgb(1, 207, 104);">OK</a>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
<header id="header">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1140 320">
        <path fill="#02a151" fill-opacity="1"
            d="M0,128L120,112C240,96,480,64,720,64C960,64,1200,96,1320,112L1440,128L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z">
        </path>
    </svg>

    <form method="POST" class="search_box">
        {% csrf_token %}
        <h1 class="search_heading">Where you got stuck?</h1>
        <input type="text" placeholder="Type a question to search" name="search_input">
        <button id="search_btn" type="submit" value="que_search" name="search_btn">
            Search
        </button>
    </form>
    <div class="square1"></div>
    <div class="square2"></div>
    <div class="square3"></div>
</header>
<div class="services">
    <div class="serv_box">
        <h1 class="serv_icon"><i class="fas fa-question"></i></h1>
        <h2 class="serv_heading">Post Questions</h2>
        <p class="serv_para">If you can't find your answer you can post your own questions also.</p>
    </div>
    <div class="serv_box">
        <h1 class="serv_icon"><i class="fas fa-reply"></i></h1>
        <h2 class="serv_heading">Reply Answers</h2>
        <p class="serv_para">If you know answer on any questions you can reply your answers.</p>
    </div>
    <div class="serv_box">
        <h1 class="serv_icon"><i class="far fa-bell"></i></h1>
        <h2 class="serv_heading">Live Notifications</h2>
        <p class="serv_para">If somebody post questions related your designation, you will get notifications.</p>
    </div>
    <div class="serv_box">
        <h1 class="serv_icon"><i class="fas fa-user-friends"></i></h1>
        <h2 class="serv_heading">Follow Peoples</h2>
        <p class="serv_para">Follow and get update from your closer one.</p>
    </div>
</div>

<div id="main_section">
    <div id="column2" class="column2">
        <div id="home_index" class="index_row">
            <a id="index_link1" href="{% url 'home' %}" class="index_link {{home}}"><i class="fas fa-question font_2rem"></i><small class="index_link_name">Home</small></a>
            <a id="index_link2" href="{% url 'peoples_main' %}" class="index_link {{peoples}}"><i class="fas fa-users font_2rem"></i><small class="index_link_name">Peoples</small></a>
            <a id="index_link4" href="" class="index_link {{answers}}"><i class="fas fa-file-alt font_2rem"></i><small class="index_link_name">Answers</small></a>
            <a id="index_link5" href="#" class="index_link {{write_ans}}"><i class="fas fa-poll font_2rem"></i><small class="index_link_name">Polls</small></a>
            <!-- <a id="index_link3" href="#user_questions" class="index_link"><i class="fas fa-question-circle font_2rem"></i><small class="index_link_name">Questions</small></a> -->
            
            
        </div>
        {% block sectionblock %}
        <div id="section_home">
            <form action="" method="post" id="categories" class="categories">
                {% csrf_token %}
                <ul id="cate_ul">
                    <li><a href="" class="cate_link">All</a></li>
                    <li><button type="submit" name="category" value="Programming" class="cate_link">Programming</button></li>
                    <li><button type="submit" name="category" value="Technology" class="cate_link">Technology</button></li>
                    <li><button type="submit" name="category" value="Products" class="cate_link">Products</button></li>
                    <li><button type="submit" name="category" value="Science" class="cate_link">Science</button></li>
                    <li><button type="submit" name="category" value="Bussiness" class="cate_link">Bussiness</button></li>
                    <li><button type="submit" name="category" value="Educaition" class="cate_link">Education</button></li>
                    <li><button type="button" id="more_btn" onclick="showHideDropdown()">More <i class="fas fa-caret-down"></i></button>
                        <div id="cate_dropdown">
                            <button type="submit" name="category" value="Gk" class="cate_link">Gk</button>
                            <button type="submit" name="category" value="Space" class="cate_link">Space</button>
                            <button type="submit" name="category" value="Health" class="cate_link">Health</button>
                            <button type="submit" name="category" value="Other" class="cate_link">Other</button>
                        </div>
                    </li>

                </ul>
                <input id="category_input" type="text" name="category_input" value="category_form" readonly>
            </form>

            {% for que in questions %}
            {% if que.question %}
            <div id="question{{que.id}}" class="que_box">
                <div class="col2_left">
                    <a href="" class="prof_icon">
                        {% if que.user.usermodel.profile_photo %}
                        <img src="{{ que.user.usermodel.profile_photo.url }}" alt="">
                        {% endif %}
                    </a>
                    <div class="col2_row2">
                        <h4><i class="fas fa-question"></i></h4>
                        <p><span class="clr_red">43</span> People Asked</p>
                        <button>Ask Again</button>
                    </div>
                </div>
                <div class="col2_right">
                    <div class="col2_right_row1">
                        <a href="" class="name clr_blue">{{que.user.first_name}} {{que.user.last_name}}</a>
                        
                        <!-- badges condtions -->
                        {% if que.user.usermodel.points < 150 %}
                        <span class="badge badge_beg">Beginner</span>
                        {% elif que.user.usermodel.points >= 150 and que.user.usermodel.points < 300  %}
                        <span class="badge badge_med">Mediator</span>
                        {% elif que.user.usermodel.points >= 300 and que.user.usermodel.points < 500  %}
                        <span class="badge badge_pro">Professional</span>
                        {% elif que.user.usermodel.points >= 500 %}
                        <span class="badge badge_ex">Expert</span>
                        {% endif %}
                        <!-- ================== -->

                        <p class="date">Asked: <span class="clr_blue">{{que.que_date_time}}</span></p>
                        <p class="category">In: <span class="clr_blue">{{que.que_category}}</span></p>
                    </div>
                    <div class="col2_right_row2">
                        <a href="{% url 'ans_page' que.id %}" class="que"><Span class="clr_green">Que: </Span>{{que.question|capfirst }}</a>
                        {% if que.que_details %}
                        <p class="ans"><span class="clr_green">Discription:</span>&nbsp;&nbsp;<pre style="color:rgb(49, 49, 49); font-size:1.6rem;">{{que.que_details}}</pre></p>
                        {% endif %}
                    </div>
                    <div class="col2_right_row3">
                        <a href="{% url 'ans_page' que.id %}#ans_page" class="btn1"><i
                                class="fas fa-comment-alt font_1-2rem"></i>&nbsp;&nbsp;&nbsp;<span>{{que.answersmodel_set.all|length}}</span>&nbsp;Answers</a>
                        <p href="" class="btn1"><i class="fas fa-eye"></i>&nbsp;&nbsp;&nbsp;<span>{{que.que_views}}</span> Views
                        </p>
                        <a href="{% url 'ans_page' que.id %}#ans_section" class="ans_btn"">Answer</a>
                    </div>
                </div>
            </div>
            <hr>
            {% endif %}
            {% endfor %}

            
        </div>
        {% endblock sectionblock %}       
    </div>
    

</div>
{% block post_questions %}
{% if user.is_authenticated %}
<div id="post_question" {% if request.path != '/' %} style="display: none;" {% endif %}>
    <div class="question_box">
        <div class="top_row">
            <div class="que_mark"><i class="fas fa-question clr_red"></i></div>
            <div class="head_box">
                <h2>Hello, <span class="clr_blue" >{{user.first_name}}</span></h2>
                
                <p>Didn't found your answer?</p>
                <p>Just post your question below.</p>
            </div>
        </div>
        <hr>
        <form action="" method="post" class="ask_que_form">
            {% csrf_token %}
            <div class="field_box">
                <label for="question">Question: </label>
                <input type="text" id="question" placeholder="Type your question here." name="question" required>
            </div>
            <div class="field_box">
                <label for="category">Category: </label>
                <select id="category" name="que_category">
                    <option value="Other">Other</option>
                    <option value="Programming">Programming</option>
                    <option value="Technology">Technology</option>
                    <option value="Language">Language</option>
                    <option value="Products">Products</option>
                    <option value="Science">Science</option>
                    <option value="Bussiness">Bussiness</option>
                    <option value="Education">Education</option>
                    <option value="Gk">Gk</option>
                    <option value="Space">Space</option>
                    <option value="Health">Health</option>
                </select>
            </div>
            <div class="field_box">
                <label for="que_details">Question Details: </label>
                <textarea id="que_details" name="que_details" cols="20" rows="7"></textarea>
            </div>
            <div class="btn_row">
                <button type="submit" value="que_post" name="que_post_btn">Post Question</button>
            </div>
        </form>
    </div>
</div>
{% else %}
<div id="post_question" {% if request.path != '/' %} style="display: none;" {% endif %}>
    <div class="question_box">
        <div class="top_row">
            <div class="que_mark"><i class="fas fa-question clr_red"></i></div>
            <div class="head_box">
                <h2>Hello, <span class="clr_blue" >There</span></h2>
                
                <p>Didn't found your answer?</p>
                <p>Just post your question below.</p>
            </div>
        </div>
        <hr>
        <form action="" method="post" class="ask_que_form" id="readonly_form">
            {% csrf_token %}
            <div class="field_box">
                <label for="question">Question: </label>
                <input type="text" id="question" placeholder="Type your question here." onclick="LoginAlert()" readonly>
            </div>
            <div class="field_box">
                <label for="category">Category: </label>
                <select name="" id="category" disabled>
                    <option value="">Programming</option>
                    <option value="">Technology</option>
                    <option value="">Language</option>
                    <option value="">Products</option>
                    <option value="">Math</option>
                    <option value="">Science</option>
                    <option value="">Bussiness</option>
                    <option value="">Education</option>
                    <option value="">Gk</option>
                    <option value="">Space</option>
                    <option value="">Health</option>
                    <option value="">Other</option>
                </select>
            </div>
            <div class="field_box">
                <label for="que_details">Question Details: </label>
                <textarea name="" id="que_details" cols="20" rows="7" onclick="LoginAlert()" readonly></textarea>
            </div>
            <div class="btn_row">
                <button type="submit">Post Question</button>
            </div>
        </form>
    </div>
        
</div>
{% endif %}
{% endblock post_questions %}
{% endblock bodyblock%}