<!-- <!DOCTYPE html>
{% extends "home/peoples.html" %}
{% load static %}

{% block profile_card_block %}
<div id="pc-container">
    <div class="pc-main">
        <button type="button" id="close-pc"><i class="fas fa-times"></i></button>
        <div class="pc-left">
            <div class="img-box">
                {% if people.usermodel.profile_photo %}
                <img src="{{people.usermodel.profile_photo.url}}" alt="">
                {% endif %}
            </div>
            <div class="pc-basics">
                <p class="name">{{people.first_name}} {{people.last_name}}</p>
                <span class="badge">Mediator</span>
                <p class="desg">{{people.usermodel.designation}}</p>
            </div>
        </div>
        <div class="pc-right">
            <div class="intro-box">
                <p class="intro">A programming language is for thinking about programs, not for expressing programs you've already thought of. It should be a pencil, not a pen. 
                </p>
            </div>
            <div class="details-box">
                <p>Mehkar, Maharastra</p>
                <p>Male</p>
                <p>akashmothe1@gmail.com</p>
                <p>24 year old.</p>
            </div>
            <div class="last-row">
                <p><span class="number">13</span><span class="text">Followers</span></p>
                <p><span class="number">23</span><span class="text">Followings</span></p>
                <p><span class="number">43</span><span class="text">Questions</span></p>
                <p><span class="number">65</span><span class="text">Answers</span></p>
                <p><span class="number">523</span><span class="text">Points</span></p>
            </div>
        </div>
    </div>
</div>
{% endblock profile_card_block %} -->