<!DOCTYPE html>
{% extends "home/home.html" %}
{% load static %}

{{ block.super }}
{% block sectionblock %}
{% if messages %}
{% for message in messages %}
<p id="error_msg" class="bg_success">
    <strong>Message: </strong>
    {{ message }}
    <button id="msg_close_btn" onclick="closeMsg()"><i class="far fa-times-circle"></i></button>
</p>
{% endfor %}
{% endif %}
<div id="ans_page">
    {% if clicked_que %}
    <div class="que_box">
        <div class="col2_left">
            <a href="" class="prof_icon"><img src="{{ clicked_que.user.usermodel.profile_photo.url }}"
                    alt="Profile Image"></a>

            <div class="col2_row2">
                <h4><i class="fas fa-question"></i></h4>
                <p><span class="clr_red">43</span> People Asked</p>
                <button>Ask Again</button>
            </div>
        </div>
        <div class="col2_right">
            <div class="col2_right_row1">
                <a href="" class="name clr_blue">{{clicked_que.user.first_name}} {{clicked_que.user.last_name}}</a>
                <p class="status bg_blueviolet">Professional</p>
                <p class="date">Asked: <span class="clr_blue">{{clicked_que.que_date_time}}</span></p>
                <p class="category">In: <span class="clr_blue">{{clicked_que.que_category}}</span></p>
            </div>
            <div class="col2_right_row2">
                <h2 class="que"><Span class="clr_green">Que: </Span>{{clicked_que}}</h2>
                {% if clicked_que.que_details %}
                <p class="ans"><span class="clr_green">Description:</span>&nbsp;&nbsp;
                <pre style="color:rgb(65, 65, 65); font-size:1.6rem;">{{clicked_que.que_details}}</pre>
                </p>
                {% else %}
                <p class="ans"><span class="clr_green">Description:</span>&nbsp;No Description!!</p>
                {% endif %}
            </div>
        </div>
    </div>
    <h2 class="ans_heading">{{ans_count}} Answers</h2>
    {% for ans in ans_obj %}
    <div class="ans_row">
        <div class="col_left">
            <a href=""><img src="{{ ans.ans_by.usermodel.profile_photo.url }}" alt=""></a>
        </div>
        <div class="col_right">
            <div class="row1">
                <a href="">{{ans.ans_by.first_name}} {{ans.ans_by.last_name}}</a>
                <p class="status bg_orange">Diamond</p>
                <p class="date_time">Answerd on: <span class="clr_blue">{{ans.ans_date_time}}</span></p>
            </div>
            <div class="row2">
                <p id="ans_{{ans.id}}">
                <pre style="color:rgb(49, 49, 49); font-size:1.6rem;">{{ans.answer}}</pre>
                </p>
            </div>
            <div class="row_last">
                    <form action="{% url 'like_ans' ans.id %}" method="post">
                        {% csrf_token %}
                        {% if user in ans.likes.all %}
                        <p class="total_likes"><i class="far fa-heart"></i> {{ans.likes.all|length}}</p>
                        <button type="submit" class="like_btn" name="like_btn" value="{{ans.id}}" style="background-color: rgb(255, 16, 68);">
                            Dislike
                        </button>
                        {% else %}
                        <p class="total_likes"><i class="far fa-heart"></i> {{ans.likes.all|length}}</p>
                        <button type="submit" class="like_btn" name="like_btn" value="{{ans.id}}" style="background-color: rgb(4, 158, 63);">
                            Like
                        </button>
                        {% endif %}
                    </form>
                <!-- <button class="like_btn"><i class="far fa-thumbs-down"></i><span class="like_num">12 Dislikes</span></button> -->
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}

    <div id="ans_section">
        <h2 class="ans_section_heading">Leave an Answer</h2>
        <div class="ans_box">
            <div class="row1">
                <select name="" id="font_size">
                    <option value="">10px</option>
                    <option value="">12px</option>
                    <option value="">14px</option>
                    <option value="">16px</option>
                    <option value="">18px</option>
                    <option value="">20px</option>
                    <option value="">22px</option>
                    <option value="">24px</option>
                </select>
                <button class="style_btn"><i class="fas fa-bold"></i></button>
                <button class="style_btn"><i class="fas fa-italic"></i></button>
                <button class="style_btn"><i class="fas fa-link"></i></button>
            </div>
            {% if user.is_authenticated %}
            <form class="ans_form" action="" method="post">
                {% csrf_token %}
                <textarea name="ans_text" id=""></textarea>
                <p class="img_label">Image&nbsp;<span>(if required)</span></p>
                <div class="file_row">
                    <p id="selected_file"></p>
                    <input type="file" name="ans_file" accept="image/*" id="ans_file">
                    <label for="ans_file">Select Image</label>
                </div>
                <input type="hidden" name="ans_hidden" value="AnsHidden">
                <button class="submit_btn" type="submit">SUBMIT</button>
            </form>
            {% else %}
            <form class="ans_form" action="" method="post">
                {% csrf_token %}
                <textarea name="" id="" onclick="LoginAlert()" readonly></textarea>
                <p class="img_label">Image&nbsp;<span>(if required)</span></p>
                <div class="file_row">
                    <p id="selected_file"></p>
                    <input type="file" name="" accept="image/*" id="ans_file" disabled>
                    <label for="ans_file" onclick="LoginAlert()">Select Image</label>
                </div>

                <button class="submit_btn" type="submit">SUBMIT</button>
            </form>
            {% endif %}

        </div>
    </div>
    {% endif %}
</div>
{% endblock sectionblock %}