<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


    <title>AskMe</title>
</head>

<body>
    <nav id="nav_top" class="nav_top">
        <div class="nav_left">
            <a class="logo">
                <span><i class="fab fa-atlassian"></i></span>
                <span>AskMe</span>
            </a>
            <ul id="top_nav_ul">
                <li><a href="/" class="nav_link {{nav_home}}">Home</a></li>
                <li><a href="{% url 'peoples_main' %}" class="nav_link {{nav_peoples}}">Peoples</a></li>
                <li><a href="/#post_question" class="nav_link">Ask Question</a></li>
                <li><a href="/about-us" class="nav_link {{nav_about}}">About Us</a></li>
            </ul>
        </div>
        <div class="nav_right">
            {% if user.is_authenticated %}
            <a href="/profile/logout" class="nav_btn">Logout</a>
            <a href="/profile/dashboard" class="username">Welcome, <span>{{ user.first_name }}</span></a>
            {% else %}
            <a href="/login" class="nav_btn">Login</a>
            <a href="/signup" class="nav_btn">SignUp</a>
            {% endif %}
        </div>
    </nav>

    {% block bodyblock %}

    {% endblock bodyblock%}


    <footer id="footer">
        <div class="foot_row1">
            <div class="foot_col1">
                <h1>AskMe</h1>
                <p>Askme is a forum to gain and share knowledge. It's a platform to ask questions and connect with people who contribute unique insights and quality answers.</p>
            </div>
            <div class="foot_col2">
                <h3>About Us</h3>
                <ul>
                    <li><a href="">Meet The Team</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="foot_col3">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="">Terms Of Use</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="foot_col4">
                <h3>Help</h3>
                <ul>
                    <li><a href="">Customer Support</a></li>
                    <li><a href="">Send Message</a></li>
                </ul>
            </div>
            <div class="foot_col5">
                <h3>Reach To Us</h3>
                <p><i class="fas fa-home clr_green"></i> &nbsp;Maharastra, 443202 Buldana</p>
                <p><i class="fas fa-envelope clr_green"></i> &nbsp;askme@gmail.com</p>
                <p><i class="fas fa-phone-alt clr_green"></i> &nbsp;+91-9921542442</p>
            </div>
        </div>
        <div class="foot_row2">
            <h2>Follow Us</h2>
            <div class="social_link">
                <a href="" class="bg_twiter"><i class="fab fa-linkedin-in"></i></a>
                <a href="" class="bg_insta"><i class="fab fa-instagram"></i></a>
                <a href="" class="bg_blue"><i class="fab fa-facebook-f"></i></a>
                <a href="" class="bg_twiter"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="foot_row3">
            <p>&copy; 2021 AskMe. All Rights Reserved.</p>
        </div>
    </footer>





    <!-- ==========================================JAVASCRIPT============================ -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/font-awesome.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/profile_page.js' %}"></script>
    <script src="{% static 'js/signup.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>