*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    /* border: 2px solid red; */
    background-color: rgb(218, 218, 218);
}
#profile_main{
    display: flex;
}
#index_col{
    padding: 4em 0;
    width: 15%;
    height: auto;
    background-color: #01b35f;

}
#index_col ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#index_col ul li{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}
#index_col ul li a{
    position: relative;
    margin: 2rem 0;
    padding: 0.2em 1em;
    width: 80%;
    height: 3rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    /* overflow: hidden; */
    transition-duration: 0.3s;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.692), -1px -1px 2px rgba(255, 255, 255, 0.699);
}

#index_col ul li a:hover{
    background-color: rgb(238, 34, 61);
    letter-spacing: 0.2rem;
}
.profile_link_active{
    background-color: rgb(238, 34, 61);
}
#content_col{
    width: 85%;
    height: 100%;
}


/* =========================================DASHBOARD=========================== */
#dashboard{
    width: 100%;
    height: 100%;
    /* display: none; */
}
.header_row{
    position: relative;
    width: 100%;
    height: 25rem;
    /* background-color: rgb(255,150,106); */
}
.header_row #cover_img{
    width: 100%;
    height: 100%;
}
.header_row .profile_img_box{
    position: absolute;
    bottom: -20%;
    left: 5%;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: rgb(78, 78, 78);
    border: 3px solid rgb(255, 255, 255);
    z-index: 10;
    overflow: hidden;
}
.header_row .profile_img_box img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.header_row .header_info_row{
    position: absolute;
    padding: 0 2em;
    bottom: 0;
    right: 0;
    display: flex;
    width: 80%;
    height: 40%;
    /* border: 2px solid red; */
}
.header_row .header_info_row .name_box{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.header_row .header_info_row .name_box .user_name{
    color: white;
    font-size: 2rem;
    font-family: 'Bitter', serif;
}
.header_row .header_info_row .name_box .desgn{
    color: rgb(224, 224, 224);
    font-size: 1.6rem;
    /* font-family: 'Bitter', serif; */
}
.header_row .header_info_row .name_box .user_status{
    margin-top: 1.5rem;
    width: 50%;
    text-align: center;
    color: white;
    font-size: 1.4rem;
    border-radius: 2rem;
    font-family: 'Bitter', serif;
}
.header_row .header_info_row .btns_box{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.header_row .header_info_row .btns_box .ask_user_btn{
    margin: 1rem;
    padding: 0.2em 0.7em;
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    font-family: 'Bitter', serif;
    transition-duration: 0.4s;
}
.header_row .header_info_row .btns_box .ask_user_btn:hover{
    background-color: #e74646;
}
#user_about{
    padding: 2em;
    width: 100%;
    height: auto;
}
#user_about .social_info_row{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 1px solid grey;

}
.social_info_row .social_info_box{
    margin: 0 1rem;
    width:8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #4cd137; */
    /* box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.692), -2px -2px 3px rgba(255, 255, 255, 0.699); */
    border-radius: 50%;
}
.social_info_row .social_info_box span{
    font-size: 2.4rem;
    /* color: white; */
}
.social_info_row .social_info_box p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}
#user_about .user_info_box{
    margin-top: 2rem;
    width: 100%;
    display: flex;
}
#user_about .user_info_box .left_box{
    padding: 1em 2em;
    width: 65%;
}
#user_about .user_info_box .left_box .about_box h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
#user_about .user_info_box .left_box .about_box p{
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}
#user_about .user_info{
    margin-top: 4rem;
    display: flex;
}
#user_about .user_info .icon_box{
    padding-right: 0.6em;
    display: grid;
    place-items: center;
    font-size: 3rem;
}
#user_about .user_info .text_box h2{
    /* font-family: 'Poppins', sans-serif; */
    font-size: 2rem;
}
#user_about .user_info .text_box p{
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    font-size: 1.6rem;
}






/* =========================================DASHBOARD=========================== */
#user_followers{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#user_followers .row-1{
    padding: 0 3em;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(80, 80, 80);
}
#user_followers .row-1 h4{
    width: 80%;
    font-family: 'Bitter', serif;
    font-size: 2rem;
}
#user_followers .row-1 .search_box{
    width: 20%;
    display: flex;

}
#user_followers .row-1 .search_box input{
    padding: 0 0.3em;
    font-family: 'Bitter', serif;
    font-size: 1.6rem;
    background-color: transparent;
    outline: none;
    border: 2px solid rgb(3, 170, 92);
}
#user_followers .row-1 .search_box button{
    padding: 0.2em 0.4em;
    background-color: rgb(3, 170, 92);
    outline: none;
    border: none;
    color: white;
    font-size: 1.6rem;

}
#user_followers .row-2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.no_followed{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 6rem;
    color: rgb(0, 0, 0);
}

/* =====================PROFILE EDIT======================= */
#profile_edit{
    width: 100%;
    height: 100%;
}

#profile_edit .header_row #cover_img_input{
    bottom: 0;
    position: absolute;
    display: none;
}
#profile_edit .header_row .cover_label{
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    background-color: rgb(255, 0, 85);
    overflow: hidden;
    transition: all linear 0.4s;
    
}
#profile_edit .header_row:hover .cover_label{
    width: 10rem;
}

#profile_edit .profile_img_box #avtar_img{
    bottom: 0;
    position: absolute;
    display: none;
}
#profile_edit .profile_img_box .avtar_label{
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0;
    font-size: 1.6rem;
    text-align: center;
    position: absolute;
    color: white;
    overflow: hidden;
    background-color: rgba(2, 192, 81, 0.856);
    transition: all linear 0.4s;
}
#profile_edit .profile_img_box:hover .avtar_label{
    height: 3rem;
}
#profile_edit .user_details_form .row_box{
    padding-top: 4em;
}
#profile_edit .change_pass_btn{
    position: absolute;
    right: 3%;
    bottom: -20%;
    padding: 0.4em 1em;
    outline: none;
    border: none;
    /* border-radius: 2rem; */
    font-size: 1.7rem;
    color: white;
    background-color: rgb(0, 158, 84);
    cursor: pointer;
    transition-duration: 0.3s;
}
#password_form{
    position: absolute;
    top: 40%;
    right: 2%;
    display: none;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    width: 20vw;
    height: 50vh;
    background-color: #e0e0e0;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    transition: opacity 0.5s;
}
#password_form #close_btn{
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 2.4rem;
    color: #706f6f;
}
#password_form .head_icon{
    display: grid;
    place-items: center;
    margin-bottom: 5%;
    width: 7rem;
    height: 7rem;
    font-size: 3rem;
    color: rgb(255, 0, 55);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
#password_form .row{
    width: 100%;
    margin: 3% 0;
}
#password_form label{
    display: block;
    /* margin-bottom: 0.3rem; */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}
#password_form input{
    padding: 0.2em 0;
    width: 100%;
    font-size: 1.6rem;
    outline: none;
    background-color: transparent;
    color: rgb(49, 49, 49);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}
#password_form .btn_row{
    margin-top: 5%;
}
#password_form .btn_row button{
    margin-top: 5%;
    padding: 0.4em 1em;
    outline: none;
    border: none;
    font-size: 1.7rem;
    color: white;
    background-color: rgb(0, 158, 84);
    transition-duration: 0.3s;
}



#profile_edit .user_details_form .row{
    width: 100%;
    margin: 3rem 4rem;
}
#profile_edit .user_details_form .row label{
    display: block;
    margin-bottom: 0.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}
#profile_edit .user_details_form .row input{
    padding: 0.2em 0.2em;
    width: 90%;
    font-size: 1.6rem;
    outline: none;
    background-color: transparent;
    color: rgb(49, 49, 49);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}
#profile_edit .user_details_form .row select{
    padding: 0.2em 0.2em;
    width: 90%;
    font-size: 1.6rem;
    outline: none;
    background-color: transparent;
    color: rgb(49, 49, 49);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}
#profile_edit .user_details_form .row textarea{
    padding: 0.6em;
    width: 90%;
    font-size: 1.6rem;
    outline: none;
    background-color: transparent;
    color: rgb(49, 49, 49);
    border: 2px solid rgb(0, 0, 0);
    resize: vertical;
}
#profile_edit .user_details_form .row-4{
    display: flex;
}
#profile_edit .user_details_form .row-4 .left_box{
    width: 45%;
    height: 100%;
}
#profile_edit .user_details_form .row-4 .right_box{
    width: 45%;
    height: 100%;
}
#profile_edit .user_details_form .button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile_edit .user_details_form .submit_button{
    width: 20%;
    margin: 3rem 0;
    height: 4rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    font-size: 2rem;
    color: white;
    /* letter-spacing: 0.2rem; */
    background-color: rgb(0, 158, 84);
    transition-duration: 0.3s;
}
#profile_edit .user_details_form .submit_button:hover{
    width: 25%;

}
.asked_ques_heading{
    padding: 1em;
    text-align: center;
    font-size: 2.6rem;
    border-bottom: 2px solid rgb(63, 63, 63);
}

#answers{
    padding: 2em;
}
.user_ans_box{
    padding: 2rem 0;
    width: 100%;
}
.user_ans_box .post_detail_row{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.4rem;
    display: flex;
}
.user_ans_box .post_detail_row .ask_by{
    margin-right: 2%;
    font-size: 1.6rem;
    font-weight: bold;
}
.user_ans_box .post_detail_row .in{
    margin-left: 5%;
}
.user_ans_box .que_row{
    width: 100%;
}
.user_ans_box .que_row a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.user_ans_box .que_row a:hover{
    color: blue;
}
.user_ans_box .user_ans_row .user_ans_para{
    margin-top: 2rem;
    font-size: 1.7rem;
    color: #363636;
}
.user_ans_box .user_ans_row .user_ans_lastrow{
    margin-top: 2rem;
    padding: 0 2em;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: #b4b3b3;
}

#user_questions .col2_right_row2 .que_descs pre{
    font-size: 4rem !important;
}