*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100vw;
    height: 100vh;
    background-color: rgb(218, 218, 218);
    overflow-x: hidden;
}
.signup_main{
    width: 100vw;
    height: 80vh;
    display: grid;
    place-items: center;
}
.signup_box{
    position: relative;
    display: flex;
    width: 70%;
    height: 90%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.452), -2px -2px 3px rgb(255, 255, 255);
    border-radius: 1rem;
    overflow: hidden;
}
.signup_box .left_box{
    padding: 2em 1em;
    width: 60%;
    height: 100%;
    /* border: 2px solid black; */
}
.signup_box .left_box h1{
    font-size: 2.4rem;
    text-align: center;
    color: rgb(255, 8, 69);
    text-transform: uppercase;
    text-shadow: 0 1px 2px black;
}
.signup_box .left_box form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup_box .left_box .field_row{
    position: relative;
    width: 80%;
    margin: 1rem;
}
.signup_box .left_box .field_row label{
    display: block;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    /* letter-spacing: 0.2rem; */
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;

}
.signup_box .left_box .field_row input{
    width: 100%;
    padding: 0.2em 0.7em;
    border: none;
    border-radius: 2rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.7rem;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.452), inset -2px -2px 3px rgb(255, 255, 255);
}
.signup_box #show_pass{
    padding: 0.2em;
    position: absolute;
    top: 55%;
    right: 2%;
    font-size: 2rem;
    color: rgb(4, 187, 80);
    z-index: 100;
}
.signup_box #hide_pass{
    padding: 0.2em;
    position: absolute;
    top: 55%;
    right: 2%;
    font-size: 2rem;
    color: rgb(4, 187, 80);
    z-index: 100;
    display: none;
}
.signup_box #show_pass:hover, .signup_box #hide_pass:hover{
    color: black;
}
.signup_box .left_box .field_row:nth-child(5){
    display: flex;
    justify-content: space-between;
}
.signup_box .left_box .field_row:nth-child(5) .col1, .col2{
    width: 40%;
}
.signup_box .left_box .field_row:nth-child(5) select{
    width: 100%;
    padding: 0.2em 0.7em;
    border: none;
    border-radius: 2rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.7rem;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.452), inset -2px -2px 3px rgb(255, 255, 255);
}
.signup_box .left_box .btn_row{
    padding: 5em 7em;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: center; */
}
.signup_box .left_box .btn_row button{
    padding: 0.2em 0;
    width: 50%;
    border: none;
    border-radius: 2rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(255, 2, 78);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.452), -2px -2px 3px rgb(255, 255, 255);
    transition-duration: 0.3s;
}
.signup_box .left_box .btn_row button:hover{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452), -1px -1px 1px rgb(255, 255, 255);
}
.signup_box .right_box{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    /* border-left: 2px solid black; */
}
.signup_box .right_box img{
    height: 100%;
}