.signup_main{
    width: 100vw;
    height: 80vh;
    display: grid;
    place-items: center;
}
.signup_box{
    position: relative;
    display: flex;
    width: 70%;
    height: 90%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.452), -2px -2px 3px rgb(255, 255, 255);
    border-radius: 1rem;
    overflow: hidden;
}
.signup_box .left_box{
    padding: 2em 1em;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup_box .left_box h1{
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
    color: #2ed573;
    border-radius: 50%;
}
.signup_box .left_box form{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup_box .left_box .field_row{
    position: relative;
    width: 80%;
    margin: 1rem;
}
.signup_box .left_box .field_row label{
    display: block;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;

}
.signup_box .left_box .field_row input{
    width: 100%;
    padding: 0.4em 0.7em;
    border: none;
    border-radius: 2rem;
    outline: none;
    background-color: transparent;
    font-size: 1.7rem;

    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.452), inset -2px -2px 3px rgb(255, 255, 255);
}
.signup_box #show_pass{
    padding: 0.2em;
    position: absolute;
    top: 55%;
    right: 2%;
    font-size: 2rem;
    color: rgb(4, 187, 80);
    z-index: 100;
}
.signup_box #hide_pass{
    padding: 0.2em;
    position: absolute;
    top: 55%;
    right: 2%;
    font-size: 2rem;
    color: rgb(4, 187, 80);
    z-index: 100;
    display: none;
}

.signup_box .left_box .btn_row{
    padding: 5em 7em;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: center; */
}
.signup_box .left_box .btn_row button{
    padding: 0.3em 1em;
    width: 100%;
    border: none;
    border-radius: 2rem;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(255, 2, 78);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.452), -2px -2px 3px rgb(255, 255, 255);
    transition-duration: 0.3s;
}
.signup_box .left_box .btn_row button:hover{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452), -1px -1px 1px rgb(255, 255, 255);
}
.signup_box .right_box{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    
}
.signup_box .right_box .inner_box{
    padding: 10em 5em;
    width: 90%;
    height: 90%;
    border-radius: 2rem;
    background-color: #2ed573;
}
.signup_box .right_box .inner_box h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: white;
    font-weight: 500;
}
.signup_box .right_box .inner_box p{
    font-size: 1.7rem;
    color: rgba(255, 255, 255, 0.918);
}
.signup_box .right_box .inner_box .su-au-btn{
    display: inline-block;
    margin-top: 3rem;
    font-family: 'Poppins', sans-serif;
    padding: 0.2em 0.9em;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 2rem;
    transition-duration: 0.5s;
}
.su-au-btn:hover{
    color: rgb(255, 255, 255) !important;
    background-color: #fd0526;
}