<!DOCTYPE html>
{% extends "base/base.html" %}
{% load static %}
<title>AskMe-signup</title>

{% block bodyblock %}
<div class="signup_main">
    <div class="signup_box">
        <div class="left_box">
            <h1><i class="far fa-user"></i></h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="field_row">
                    {{ form.full_name.errors }}
                    <label for="fname">Full Name:</label>
                    {{ form.full_name }}
                </div>
                <div class="field_row">
                    {{ form.dis_name.errors }}
                    <label for="displayName">Username:</label>
                    {{ form.dis_name }}
                </div>
                <div class="field_row">
                    {{ form.email.errors }}
                    <label for="email">Email:</label>
                    {{ form.email }}
                </div>
                <div class="field_row">
                    {{ form.password.errors }}
                    <label for="signup_pass">Password:</label>
                    {{ form.password }}
                    <p onclick="showHidePass()" id="show_pass"><i class="fas fa-eye"></i></p>
                    <p onclick="showHidePass()" id="hide_pass"><i class="fas fa-eye-slash"></i></p>
                </div>
                <div class="btn_row">
                    <button type="submit">SignUp</button>
                    <!-- <input type="checkbox" value="I read and agree to Terms and conditions.">  -->
                </div>
            </form>
        </div>
        <div class="right_box">
            <div class="inner_box">
                <h1>Hello There!!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A fugit eum minima! Voluptatibus aperiam
                    deserunt accusamus sunt, soluta ipsa ea omnis a et modi. Inventore pariatur sit cupiditate dolorum
                    qui.</p>
                <a href="/about-us" class="su-au-btn">About Us</a>
            </div>
        </div>
    </div>
</div>
{% endblock bodyblock%}