<!DOCTYPE html>
{% extends "base/base.html" %}
{% load static %}
<title>AskMe-signup</title>

{% block bodyblock %}
<div class="signup_main">
    <div class="signup_box">
        <div class="left_box">
            <h1>SignUp Here</h1>
            <form action="" method="post">
                <div class="field_row">
                    <label for="fname">Full Name:</label>
                    <input type="text" id="fname">
                    
                </div>
                <div class="field_row">
                    <label for="displayName">Display Name:</label>
                    <input type="text" id="displayName">
                </div>
                <div class="field_row">
                    <label for="email">Email:</label>
                    <input type="text" id="email">
                </div>
                <div class="field_row">
                    <label for="signup_pass">Password:</label>
                    <input type="password" id="signup_pass">
                    <p onclick="showHidePass()" id="show_pass"><i class="fas fa-eye"></i></p>
                    <p onclick="showHidePass()" id="hide_pass"><i class="fas fa-eye-slash"></i></p>
                </div>
                <div class="field_row">
                    

                
                </div>
                <div class="btn_row">
                    <button type="submit">SignUp</button>
                </div>
            </form>
        </div>
        <div class="right_box">
            <img src="{% static 'images/student-girl.png' %}" alt="">
        </div>
    </div>
</div>
{% endblock bodyblock%}